@font-face {
	font-display: swap;
	font-family: 'OleoScript';
	font-style: normal;
	font-weight: 400;
	src: url('../../assets/fonts/OleoScript-Regular.woff2') format('woff2'),
		url('../../assets/fonts/OleoScript-Regular.woff') format('woff');
}
