$color-bright-red: #de354c;
$color-deep-red: #932432;
$color-pure-purple: #3c1874;
$color-purple-tinged: #283747;
$color-cloud: #f3f3f3;
$color-woodsmoke: #16161d;

$header-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
	0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
	0 100px 80px rgba(0, 0, 0, 0.07);
