header {
	align-items: center;
	background: #5851ff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	color: #fff;
	display: flex;
	height: 56px;
}

h1 {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 500;
	padding: 0 12px;
}
